@keyframes toonSpin {
  0% {
    transform: rotate(0deg);
    color: white;
  }
  20% {
    color: green
  }
  40% {
    color: red
  }
  60% {
    color: purple
  }
  100% {
    transform: rotate(360deg);
    color: white;
  }
}

.toonCenterContainer {
  position: fixed;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.toonBody {
  animation: toonSpin 2s linear infinite ;
  color: blanchedAlmond;
  font-size: 2em;
  text-align: center;
}
