.title {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
  width: 100%
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 4em;
}



/* background image is fed into grid divs */
.workImageContainer {
  width: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

.work-image {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.fade-overlay-grid {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  transition: var(--fadein) ease-out;
  background-color: rgba(0, 0, 0, 0.65);
}

.fade-overlay-grid:hover {
  opacity: 0.9;
  transition: var(--fadein) ease-in;
  background-color: #985E6D
}

/* mobile first, change by min-width */
@media only screen and (min-width: 768px) {
  .grid-container {
    grid-template-columns: 1fr 1fr;
  }
}

.link-grid {
  height: 100%;
  width: 100%;
  padding: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}

.category-home {
  margin: 1em auto;
}
