.work-description {
  color: BlanchedAlmond;
  font-weight: 200
}

/* responsive grid, mobile first*/
.work-grid-container {
  display: grid;
  grid-gap: 2em;
  grid-template-areas:
  "workImage"
  "workText";
}

@media only screen and (min-width: 768px) {
  .work-grid-container {
    display: grid;
    grid-gap: 2em;
    grid-template-columns: 2fr 1.75fr;
    grid-template-areas: "workText workImage"
  }
}

.work-text-area {
  grid-area: workText
}

.work-text-area h1 {
  text-align: center;
}
@media only screen and (min-width: 768px) {
  .work-text-area h1 {
    text-align: left
  }
}

.work-image-area {
  grid-area: workImage
}

.iconList {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap
}

.linkList {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.iconList li:not(:last-child) {
  margin-right: 24px;
}

/* responsive icons, mobile first*/
.icon {
  height: 35px;
  width: 35px
}


@media only screen and (min-width: 768px) {
  .icon {
    height: 50px;
    width: 50px;
  }
}
