/* responsive top bar placing elements at ends */

.header-small-home-link {
  color: White;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.25rem;
}
.header-small-home-link:hover {
  color: inherit;
}

/* CSS for links to GitHub/LinkedIn etc. Not required for mobile mode, but necessary for desktop */
.header-link-pages {
  display: none
}

.header-link-pages:hover {
  color: inherit;
}

/* if larger, display big link to home */


.header-home-link:hover {
  color: white
}



.header-link {
  color: White;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.25rem;
}

.header-link:hover {
  color: inherit;
}

@media only screen and (min-width: 600px) {
  .topBar {
    justify-content: space-between;
  }

  .header-link-pages {
  display: block;
  color: White;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.25rem;
}



@media only screen and (min-width: 768px) {
  .header-small-home-link {
    display: none
  }



  .header-link-pages {
  display: block;
  color: White;
  font-weight: 100;
  text-decoration: none;
  font-size: 1.25rem;
}


}
