.topBar {
  color: White;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1em 2em;
  border-bottom: 2px solid var(--stormy);
  margin-bottom: 2rem;
}

.topBar h1 {
  color: White;
  margin: 0;
  line-height: normal;
}

.header-home-link {
  color: inherit;
  font-weight: 100;
  letter-spacing: -4px;
  text-decoration: none;
}

.header-home-link:hover {
  color: inherit;
}

.header-about-link {
  color: inherit;
  text-decoration: none;
  font-size: 1.5rem;
}

.header-about-link:hover {
  color: inherit;
}
