:root {
  --stormy: #494E6B;
  --cloud: #98878F;
  --sunset: #985E6D;
  --evening: #192231;
  --fadein: .3s;
  --reveal-animation: 3s
}

html {
  height: 100%;
  width: 100%;
  background-color: var(--evening);
}

.title-splash {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background: rgb(73,78,107);
  background: linear-gradient(180deg, rgba(73,78,107,1) 0%, rgba(25,34,49,1) 100%);
}

.title-splash-bg {
  position: fixed;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100vw;
  z-index: 3
}

/* Text opacity animation code */
.title-splash-bg {
  animation-duration: var(--reveal-animation);
  animation-name: opacityFadeout;
  animation-fill-mode: forwards;
  animation-delay: 1s;
}
@keyframes opacityFadeout {
  0% {
    opacity: 1;
    z-index: 3
  }

  99% {
    opacity: 0;
    z-index: 3;
  }

  100% {
    opacity: 0;
    z-index: -99
  }
}

.doNotDisplay {
  display: none
}

.flex-container {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content:space-around;
  align-items: center;
}

.category-container {
  height: 100%;
  width: 90%;
  margin: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  }
/* Text opacity animation code */
.animate-blur {
  filter: blur(5px);
  -webkit-filter: blur(5px);
  animation-duration: var(--reveal-animation);
  animation-name: blurFadeout;
  animation-fill-mode: forwards;
  animation-delay: 2s;
}
@keyframes blurFadeout {
  0% {
    filter: blur(5px);
  }

  100% {
    filter: blur(0px);
  }
}

.fade-overlay {
  height: 100%;
  width: 100%;
  transition: var(--fadein) ease-out;
  background-color: rgba(0, 0, 0, 0.5);
}

.fade-overlay:hover {
  opacity: 0.9;
  transition: var(--fadein) ease-in;
  background-color: #985E6D
}

.link {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-icons {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer-icons li:not(:last-child) {
  margin-right: 10px;
}

.footer-icon {
  height: 25px;
  width: 25px;
  margin-bottom: 0px
}

.page-footer {
  /* margin-top: 1rem; */
  background: linear-gradient(180deg, rgba(152, 135, 143, .6) 0%,rgba(152, 135, 143, .9) 100%);
  display: flex;
  padding: 0.5rem;
  height: 3rem;
  align-items: center;
  justify-content: space-between;
}

@media only screen and (max-width:768px) {
  .footer-info {
    display: none
  }
}
